<div class="grid h-screen place-items-center">
  <div class="card rounded-3xl">
    <div class="card-body">
      <div class="grid place-items-center">
        <div class="icon-container">
          <svg
            class="h-16 w-16 text-blue-700"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <rect x="5" y="11" width="14" height="10" rx="2" />
            <circle cx="12" cy="16" r="1" />
            <path d="M8 11v-4a4 4 0 0 1 8 0v4" />
          </svg>
        </div>
        <h1 class="h1 card-title">2-Factor Authentication</h1>
        <p class="text-xs text-gray-400">
          Enter 6-digit code that has been sent to your email.
        </p>
      </div>
      <div class="grid place-items-center">
        <i *ngIf="showError" class="mt-3 text-sm text-red-600" role="alert">
            {{ errorMessage }}
        </i>
      </div>
        <div class="input-container grid place-items-center">
          <div class="row">
              <ngx-otp-input [config]="otpInputConfig" (otpChange)="handleOtpChange($event)" (fill)="handleOtpFillEvent($event)"></ngx-otp-input>
          </div>
        </div>
        <br />
        <div class="grid place-items-center">
          <div>
            <p class="text-sm">
              It may take a minute to receive your code.
            </p>
            <p class="text-sm flex justify-center">
              Haven't received it? <a class="ml-1 text-blue-700">Resend a new code.</a>
            </p>
          </div>
        </div>
    </div>
  </div>
</div>
