<div class="flex flex-row justify-between h-screen">
  <div class="nav flex flex-col container gap-5">
    <h1 class="text-lg py-2">LOGO</h1>
    <ul class="flex flex-col">
      <li href="">Home</li>
      <li href="">Analytics</li>
      <li href="">Explore</li>
      <li href="">Shop</li>
    </ul>
  </div>
  <div class="analytics flex flex-col justify-between container w-full">
    <div>
      <h2>Welcome back Enes</h2>
      <p>Bekijk de laatste aankopen en updates van jouw webshop</p>
    </div>
    <div class="flex flex-row justify-between gap-4">
      <div class="statistic-card max-w-sm overflow-hidden p-4 flex flex-col justify-between">
        <div>
            <h2>307.48K</h2>
            <p class="text-sm text-gray-400">Total customers</p>
        </div>
        <div class="flex flex-row justify-between">
            <div class="flex flex-col">
                <p class="text-xl percentage">+30%</p>
                <p class="text-sm text-gray-400">This month</p>
            </div>
            <img alt="graph">
        </div>
      </div>
      <div class="statistic-card max-w-sm overflow-hidden p-4 flex flex-col justify-between">
        <div>
            <h2>307.48K</h2>
            <p class="text-sm text-gray-400">Total customers</p>
        </div>
        <div class="flex flex-row justify-between">
            <div class="flex flex-col">
                <p class="text-xl percentage">+30%</p>
                <p class="text-sm text-gray-400">This month</p>
            </div>
            <img alt="graph">
        </div>
      </div>
      <div class="statistic-card max-w-sm overflow-hidden p-4 flex flex-col justify-between">
        <div>
            <h2>307.48K</h2>
            <p class="text-sm text-gray-400">Total customers</p>
        </div>
        <div class="flex flex-row justify-between">
            <div class="flex flex-col">
                <p class="text-xl percentage">+30%</p>
                <p class="text-sm text-gray-400">This month</p>
            </div>
            <img alt="graph">
        </div>
      </div>
    </div>
    <div class="p-4 w-full graph">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/018/922/755/small/infographic-color-symbol-png.png" class="w-full h-full object-fill">
    </div>
    <div class="w-full flex flex-col gap-2">
      <h2>Top Selling Products</h2>
      <table class="table-auto">
        <thead>
          <tr>
            <th>S/NO: 01</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Stock</th>
            <th>Total Sales</th>
          </tr>
        </thead>
        <tbody class="p-5">
          <tr>
            <td>img</td>
            <td>Denim Jacket</td>
            <td>Men's Tops</td>
            <td class="text-green-400">In Stock</td>
            <td>1.43K</td>
          </tr>
          <tr>
            <td>img</td>
            <td>Nike Air Max 97</td>
            <td>Men's Shoes</td>
            <td class="text-red-400">Out of Stock</td>
            <td>2.68K</td>
          </tr>
          <tr>
            <td>img</td>
            <td>Jordan Air</td>
            <td>Men's T-Shirts</td>
            <td class="text-green-400">In Stock</td>
            <td>1.43K</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container flex flex-col countries overflow-hidden">
    <h3>Top countries</h3>
  </div>
</div>
